{% extends 'row/base.html' %}
{% block title %} Add Practice {% endblock %} 
{% block content %}

<h1>Add a Practice</h1>

<form id="practice_form" method="post" action="practice/add">
	{% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text}}
        {{ field }}
    {% endfor %}

    <input type="submit" name="submit" value="Create Practice" />
</form>

{% endblock %}