{% extends 'row/base.html' %}

{% block title %} Add Practice {% endblock %}

{% block content %}

<h1>Add a Practice</h1>

<form id="practice_form" method="post" action="practice/add">
	{% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <table class="form-table"> 
        {% for field in form.visible_fields %}
            <tr>
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>                 
                <td>{{ field.help_text}}</td>
                <td>{{ field.errors }}</td>
            </tr>
        {% endfor %}
    </table>

    <input type="submit" name="submit" value="Create Practice" />
</form>

{% endblock %}