{% extends 'row/base.html' %}
{% block title %} Practice Details {% endblock %}
{% block content %}

<h1>{{ practice.name }}</h1>
{% if practice %}
  <table class="table table-bordered">
    <tr><td>Date</td><td>{{ practice.datetime }}</td></tr>
    <tr><td>Type</td><td>{{ practice.workout }}</td></tr>
  </table>

{% endif %}

{% if lineups %}
<h2>Lineups</h2>
<table class="table table-bordered">

  <tr>
    <th>Position</th>
    <th>Boat</th>
    <th>Athletes</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  {% for lineup in lineups %}
    <tr>
      <td>{{ lineup.position }}</td>
      <td><a href="{% url 'row:boat_index' %}">{{ lineup.boat }}</a></br></td>
      <td>
        {% for athlete in lineup.athletes.all %}
          <a href="{% url 'row:athlete_detail' athlete.id %}">{{ athlete.name }}</a></br>
        {% endfor %}
      </td>
      <td><a class="" href="{% url 'row:lineup_edit' lineup.id %}?next={{ request.path }}">Edit</a></td>
      <td><a class="" href="{% url 'row:lineup_delete' lineup.id %}?next={{ request.path }}">Delete</a></td>
    </tr>
  {% endfor %}
</table>
{% endif %}

 
{% if results %}
<h2>Results</h2>
<canvas id="_result-chart" class="" width="600" height="200"></canvas><br/>
<a id="_toggle-result-table" class="btn btn-sm btn-primary">View Results</a>
<table id="_result-table" class="table table-bordered" hidden>
  <tr>
  	<th>Athlete</th>
    <th>Date</th>
    <th>Pace</th>
    <th>Distance</th>
    <th>Time</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  {% for result in results %}
    <tr>
      <td class="_athlete">{{ result.athlete }}</td>
      <td>{{ result.datetime }}</td>
      <td class="_pace"></td>
      <td class="_distance">{{ result.distance }}</td>
      <td class="_time">{{ result.time }}</td>
      <td><a class="" href="{% url 'row:result_edit' result.id %}?next={{ request.path }}">Edit</a></td>
      <td><a class="" href="{% url 'row:result_delete' result.id %}?next={{ request.path }}">Delete</a></td>
    </tr>
  {% endfor %}
</table><br><br>
{% endif %}
<a class="btn btn-primary" href="{% url 'row:practice_result_add' practice_id=practice.id %}?next={{ request.path }}">Add Result</a>
<a class="btn btn-primary" href="{% url 'row:practice_lineup_add' practice_id=practice.id %}?next={{ request.path }}">Add Lineup</a>
{% endblock %}
