{% extends 'row/base.html' %}
{% block title %} Practice Details {% endblock %}
{% block content %}

<h1>{{ practice.name }}</h1>
{% if practice %}
  <table class="table table-bordered">
    <tr><td>Date</td><td>{{ practice.datetime }}</td></tr>
    <tr><td>Type</td><td>{{ practice.workout }}</td></tr>
  </table>
{% endif %}

{% if pieces %}
<h2>Pieces</h2>
<table class="table table-bordered recordtable">

  <tr>
    <th>Order</th>
    <th>Name</th>
    {% if permission %}
      <th>Edit</th>
      <th>Delete</th>
    {% endif %}
  </tr>

  {% for piece in pieces %}
    <tr>
      <td class="_order"></td>
      <td><a href="{% url 'row:piece_detail' piece.id %}">{{ piece.name }}</a></br></td>
      {% if permission %}
        <td><a class="" href="{% url 'row:piece_edit' piece.id %}?next={{ request.path }}">Edit</a></td>
        <td><a class="" href="{% url 'row:piece_delete' piece.id %}?next={{ request.path }}">Delete</a></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% endif %}

{% if lineups %}
<h2>Initial Lineups</h2>
<table class="table table-bordered recordtable">

  <tr>
    <th>Position</th>
    <th>Boat</th>
    <th>Athletes</th>
     {% if role %}
        {% ifequal role "Coach" %}
          <th>Edit</th>
          <th>Delete</th>
        {% endifequal %}
    {% endif %}
  </tr>

  {% for lineup in lineups %}
    <tr>
      <td>{{ lineup.position }}</td>
      <td><a href="{% url 'row:boat_index' %}">{{ lineup.boat }}</a></br></td>
      <td>
        {% for athlete in lineup.getAthletes.all %}
          <a href="{% url 'row:athlete_detail' athlete.id %}">{{ athlete.name }}</a></br>
        {% endfor %}
      </td>
      {% if role %}
        {% ifequal role "Coach" %}
          <td><a class="" href="{% url 'row:lineup_edit' lineup.id %}?next={{ request.path }}">Edit</a></td>
          <td><a class="" href="{% url 'row:lineup_delete' lineup.id %}?next={{ request.path }}">Delete</a></td>
        {% endifequal %}
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% endif %}

{% if notes %}
  <h2>Notes</h2>
  <table class="table table-bordered recordtable">
    <tbody>
    {% for note in notes %}
      <tr class="note_head">
        <td><b class="note_subject_symbol">+</b><b> Subject</b>: {{ note.subject }}</td>
        <td><a href="{% url 'row:note_edit' note.id %}?next={{ request.path }}">Edit</a></td>
        <td><a href="{% url 'row:note_delete' note.id %}?next={{ request.path }}">Delete</a></td>
      </tr>
      <tr class="note_text" hidden><td colspan="3">{{ note.note }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if permission %}
  {% if practice.workout == "Water" %}<a class="btn btn-primary" href="{% url 'row:practice_lineups' practice_id=practice.id %}">Add Lineups</a>
  {% else %}
    <a class="btn btn-primary" href="{% url 'row:practice_ergroom' practice_id=practice.id %}?next={{ request.path }}">Add Piece (Erg Room, Recommended)</a>
  {% endif %}
{% endif %}
<a class="btn btn-primary" href="{% url 'row:practice_note_add' practice.id %}?next={{ request.path }}">Add Note</a>
{% if permission %}
  <a class="btn btn-primary" href="{% url 'row:practice_piece_add' practice_id=practice.id %}?next={{ request.path }}">Add Piece (Manually)</a>
{% endif %}


{% endblock %}
