{% extends 'row/base.html' %}
{% block title %} Practice Details {% endblock %}
{% block content %}

<h1>{{ practice.name }}</h1>
{% if practice %}
  <table class="table table-bordered">
    <tr><td>Date</td><td>{{ practice.datetime }}</td></tr>
    <tr><td>Type</td><td>{{ practice.workout }}</td></tr>
  </table>

{% endif %}

{% if pieces %}
<h2>Pieces</h2>
<table class="table table-bordered">

  <tr>
    <th>Date</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  {% for piece in pieces %}
    <tr>
      <td>{{ piece.datetime }}</td>
      <td><a href="{% url 'row:piece_detail' piece.id %}">{{ piece.name }}</a></br></td>
      <td><a class="" href="{% url 'row:piece_edit' piece.id %}?next={{ request.path }}">Edit</a></td>
      <td><a class="" href="{% url 'row:piece_delete' piece.id %}?next={{ request.path }}">Delete</a></td>
    </tr>
  {% endfor %}
</table>
{% endif %}
{% if notes %}
  <h2>Notes</h2>
  <table class="table table-bordered">
    {% for note in notes %}
    <tbody>
      <tr class="note_header">
        <td><b>Subject</b>: {{ note.subject }}</td>
        <td><a href="{% url 'row:note_edit' note.id %}?next={{ request.path }}">Edit</a></td>
        <td><a href="{% url 'row:note_delete' note.id %}?next={{ request.path }}">Delete</a></td>
      </tr>
      <tr class="note_body" hidden><td colspan="3">{{ note.note }}</td></tr>
    </tbody>
    {% endfor %}
  </table>
{% endif %}
<a class="btn btn-primary" href="{% url 'row:practice_piece_add' practice_id=practice.id %}?next={{ request.path }}">Add Piece</a>
<a class="btn btn-primary" href="{% url 'row:practice_note_add' practice.id %}?next={{ request.path }}">Add Note</a>
{% endblock %}
