{% extends 'row/base.html' %}
{% block title %} Practices {% endblock %} 
{% block content %}

<h1>Practices</h1>
{% if practices %}
  <table class="table table-bordered">
  <tr>
    <th>Date</th>
    <th>Practice</th>
    <th>Type</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {% for p in practices %}
    <tr>
    	<td>{{ p.datetime }}</td>
    	<td><a href="{% url 'row:practice_detail' p.id %}">{{ p.name }}</a></td>
    	<td>{{ p.workout }}</td>
      <td><a href="{% url 'row:practice_edit' p.id %}">Edit</a></td>
      <td><a href="{% url 'row:practice_delete' p.id %}">Delete</a></td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>No practices are available</p>
{% endif %}

{% if permission %}
  <a class="btn btn-primary" href="{% url 'row:practice_add' %}">Add Practice</a>
{% endif %}
{% endblock %}
