{% extends 'row/base.html' %}
{% block title %} Practices {% endblock %} 
{% block content %}
 
<a href="{% url 'row:practice_add' %}">Add Practice</a><br>
<a href="{% url 'row:result_add' %}">Add Result</a>

{% if practices %}
  <table>
  <tr><th>Date</th><th>Practice</th><th>Type</th></tr>
  {% for p in practices %}
    <tr>
    	<td>{{ p.datetime }}</td>
    	<td><a href="{% url 'row:practice_detail' p.id %}">{{ p.name }}</a></td>
    	<td>{{ p.workout }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>No practices are available</p>
{% endif %}

{% endblock %}
