<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'row/cosmo.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'row/style.css' %}" />


    <title>{% block title %}Virtual Boathouse{% endblock %}</title>
</head>
<body>
    <div id="header">
        {% block header %}
        <nav class="navbar navbar-default " role="navigation">
            <div class="container container-fluid">

                <p class="navbar-text navbar-left">Virtual Boathouse</p>
                {% if user.is_authenticated %}
                    <p class="navbar-text navbar-right">User: {{ user.username }} | <a href="{% url 'row:logout' %}">Logout</a></p>
                {% else %}
                    <p class="navbar-text navbar-right">
                        <a href="{% url 'row:login' %}">Login</a> | <a href="{% url 'row:register' %}">Register</a>
                    </p>
                {% endif %}
            </div>
        </nav>
        {% endblock %}
    </div>
    <div id="sidebar" class="col-md-2">
        <div class="well">
            <ul class="nav navbar navbar-stacked sidebar-navbar-collapse">
                {% block sidebar %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/athletes/">Roster</a></li>
                    <li><a href="/practices/">Practices</a></li>
                    <li><a href="/boats/">Boats<span class="badge">new</span></a></li>
                {% endblock %}
            </ul>
        </div>
    </div>

    <div id="content" class="col-md-10 container container-fluid">
        {% block content %}{% endblock %}
    </div>


    <div id="footer" class="col-md-12">
        <br><br>
        <nav class="navbar navbar-default " role="footer">
            <div class="container container-fluid">
                <p class="navbar-text navbar-right">
                    Ed Walker | Brian Rosenfeld | Matt Drabick | Sam Jordan | COS 333 Spring 2014 
                </p>
                   
            </div>
        </nav>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'row/chart.min.js' %}"></script>
    <script src="{% static 'row/js/custom.js' %}"></script>
    <script src="{% static 'row/js/weightChart.js' %}"></script>
    <script src="{% static 'row/js/resultChart.js' %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>