<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'row/cosmo.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'row/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'row/js/jquery.slides.min.js' %}"></script>
    <title>{% block title %}Virtual Boathouse{% endblock %}</title>
</head>
<body>
    <div id="header">
        {% block header %}
        <nav class="navbar navbar-default " role="navigation">
            <div class="container container-fluid">
                <img id="logo"/>
                <p class="navbar-text navbar-left">Virtual Boathouse</p>
                {% if user.is_authenticated %}
                    <p class="navbar-text navbar-right">User: {{ user.username }} | <a class="darklink" href="{% url 'row:logout' %}">Logout</a> | <a class="darklink" href="{% url 'row:password_change' %}">Change Password</a></p>
                {% else %}
                    <p class="navbar-text navbar-right">
                        <a class="darklink" href="{% url 'row:login' %}">Login</a>
                    </p>
                {% endif %}
            </div>
        </nav>
        {% endblock %}
    </div>
    <div id="sidebar" class="col-md-2">
        <div class="btn-group input-group btn-group-justified" data-toggle="buttons">
            <ul class="nav navbar navbar-stacked  sidebar sidebar-navbar sidebar-navbar-collapse">
                {% block sidebar %}
                    <li><a class="btn btn-default" href="/">Home</a></li>
                     {% if not anonymous %}
                        <li><a class="btn btn-default" href="/profile/">My Profile</a></li>
                     {% endif %}
                    <li><a class="btn btn-default" href="/athletes/">Roster</a></li>
                    {% if not anonymous %}
                        <li><a class="btn btn-default" href="/practices/">Practices</a></li>
                        {% if role %}
                            {% ifnotequal role "Rower" %}
                                <li><a class="btn btn-default" href="/practice/erg/add">Add Erg Practice</a></li>
                            {% endifnotequal %}
                            {% ifequal role "Coach" %}
                                <li><a class="btn btn-default" href="/practice/water/add">Add Water Practice</a></li>
                            {% endifequal %}
                        {% endif %}
                        <li><a class="btn btn-default" href="/boats/">Boats</a></li>
                        {% if role %}
                            {% ifequal role "Coach" %}
                                <li><a class="btn btn-default" href="/invites/">Invite</a></li>
                            {% endifequal %}
                        {% endif %}
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
    </div>

    <div id="content" class="col-md-10 container container-fluid">
        {% block content %}{% endblock %}
    </div>

    <div id="footer" class="col-md-12">
        <br><br>
        <nav class="navbar navbar-default " role="footer">
            <div class="container container-fluid">
                <p class="navbar-text navbar-right">
                    Ed Walker | Brian Rosenfeld | Matt Drabick | Sam Jordan | COS 333 Spring 2014 
                </p>
                   
            </div>
        </nav>
    </div>
    <script src="{% static 'row/js/custom.js' %}"></script>
    <script src="{% static 'row/js/weightChart.js' %}"></script>
    <script src="{% static 'row/js/resultChart.js' %}"></script>
    <script src="{% static 'row/js/note.js' %}"></script>
</body>
</html>