<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'row/style.css' %}" />
    <title>{% block title %}Virtual Boathouse{% endblock %}</title>
</head>
<body>
    <div id="header">
        {% block header %}
            Welcome to our project for <a href="http://www.cs.princeton.edu/courses/archive/spring14/cos333/">COS 333</a>! This is a header.
        {% endblock %}
    </div>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/athletes/">Roster</a></li>
            <li><a href="/practices/">Practices</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>