{% extends 'row/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1> Hello World </h1>



<div class="_row">
<ul id="sortable0" class="connectedSortable _ergs">
 {% for a in athletes %}<span class="_erg">{{a.name}}</span>{% endfor %}
</ul>
</div>

<br><br>

<div class="_row"><ul id="sortable1" class="connectedSortable _ergs"></ul></div>

<br><br>
 
<div class="_row"><ul id="sortable2" class="connectedSortable _ergs"></ul></div>
 



{% load staticfiles %}

<script src="{% static 'row/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="{% static 'row/js/erg.js' %}"></script>



{% endblock %}