{% extends 'row/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}


<h1>Virtual Erg Room</h1><small>Move each rower to one of the grey rows. Input each rower's time (not split).  Hit submit piece to upload a new piece. Hit done when finished</small>
<br><br>

<button class="btn btn-primary _add_row">Add Row</button><span> </span>
<a class="btn btn-primary _switch" href="{% url 'row:practice_ergroom_timed' practice.id %}">Switch to Timed Piece</a><span> </span>
<button class="btn btn-primary _clear">Clear</button><span> </span>
<button class="btn btn-warning _submit">Submit Piece</button><span> </span>
<a class="btn btn-primary" href="{% url 'row:practice_detail' practice.id %}">Done</a>
<br><br>
<span id="distance_box"><span> Distance (m)  </span><span> </span><input id="distance" class="input-md _min" type="text" name="min" size="4"/></span>

<br><br>

<div class="_row _row_holder">
<p>Athlete Bin</p>
<ul id="sortable0" class="connectedSortable _ergs _athlete_bin">
 {% for a in athletes %}
 	<span class="_erg" >
 			<span>{{a.name}} </span>
 			<span hidden>{{a.id}}</span>
 			 <br>

 			<span><input class="input-md _min" type="text" name="min" size="1"/></span>
 			<span>:</span>
 			<span><input class="input-md _sec" type="text" name="sec" size="1"/></span>

 	
 	</span>
  {% endfor %}
</ul>
</div>

<br>

<div class="_row"><p>Row 1</p><ul id="sortable1" class="connectedSortable _ergs"></ul></div>

<br>
<div class="_row"><p>Row 2</p><ul id="sortable2" class="connectedSortable _ergs"></ul></div>
 





{% load staticfiles %}

<script src="{% static 'row/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="{% static 'row/js/erg.js' %}"></script>



{% endblock %}