{% extends 'row/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}


<h1>Virtual Erg Room</h1><small>Move each rower to one of the grey rows. Input each rower's distance (in meters).  Hit submit to upload.</small>
<br><br>

<button class="btn btn-primary _add_row">Add Row</button><span> </span>
<a class="btn btn-primary" href="{% url 'row:practice_ergroom' practice.id %}">Switch to Distance Piece</a><span> </span>
<button class="btn btn-primary _clear">Clear</button><span> </span>
<button class="btn btn-warning _submit">Submit</button><br><br>
<span id="distance_box"><span> Time (min:secs)  </span><span> </span><span id="distance"><input id="in_minute" class="input-md _min" type="text" name="min" size="1"/><span>:</span><input id="in_second" class="input-md _min" type="text" name="min" size="1"/></span></span>

<br><br>

<div class="_row _row_holder">
<p>Athlete Bin</p>
<ul id="sortable0" class="connectedSortable _ergs _athlete_bin">
 {% for a in athletes %}
 	<span class="_erg" >
 			<span>{{a.name}} </span>
 			<span hidden>{{a.id}}</span>
 			 <br>

 			<span hidden><input class="input-md _min" type="text" name="min" size="1"/></span>
 			<span hidden>:</span>
 			<span><input class="input-md _sec" type="text" name="sec" size="4"/></span>
 			m

 	
 	</span>
  {% endfor %}
</ul>
</div>

<br>

<div class="_row"><p>Row 1</p><ul id="sortable1" class="connectedSortable _ergs"></ul></div>

<br>
<div class="_row"><p>Row 2</p><ul id="sortable2" class="connectedSortable _ergs"></ul></div>
 





{% load staticfiles %}

<script src="{% static 'row/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="{% static 'row/js/erg-timed.js' %}"></script>



{% endblock %}