{% extends 'row/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="jumbotron">
  	<h1>For the rowers</h1>
  	<p>Virtual Boathouse is a rowing management app, storing and organizing data from erg practices, on-the-water pieces, and weigh-ins.</p>

</div>

<a href="https://github.com/eswalker/cos333"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>

<h2>On Land and on the Water</h2>
<p>Virtual Boathouse is a web app and a mobile app, so you have it wherever you go!</p>
<h2>Extend Virtual Boathouse</h2>
<p>Virtual Boathouse now has a RESTful API</p>
<h2>Useful Links</h2>
<a href="https://play.google.com/store/apps/details?id=com.vbh.virtualboathouse">Mobile App</a><br>
<a href="http://princeton.edu/~eswalker/virtualboathouse/report.pdf">Development Report</a><br>
<a href="http://princeton.edu/~eswalker/virtualboathouse/timeline.pdf">Development Timeline</a><br>
<a href="http://princeton.edu/~eswalker/virtualboathouse/internals.pdf">Technical Document</a><br>
<a href="http://princeton.edu/~eswalker/virtualboathouse/api.txt">API Reference</a><br>
<a href="http://princeton.edu/~eswalker/virtualboathouse/presentation.pdf">Demo Presentation</a><br>

  <style>
    /* Prevents slides from flashing */
    #slides {
      display:none;
    }

    #slides .slidesjs-navigation {
      margin-top:3px;
    }

    #slides .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    #slides .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(http://www.slidesjs.com/examples/standard/img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

  </style>

   <script>
    $(function(){
      $("#slides").slidesjs({
        width: 940,
        height: 500
      });
    });
  </script>

  <h2>Screen Shots</h2>
  {% load staticfiles %}
  <div id="slides" styles="border: 2px solid, padding: 10px">
	<img src="{% static 'row/img/ergroom.png' %}">
    <img src="{% static 'row/img/piece.png' %}">
    <img src="{% static 'row/img/lineupboard.png' %}">
    <img src="{% static 'row/img/profile.jpg' %}">
  </div>

{% endblock %}