{% extends 'row/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

<h1>Make a lineup</h1>

<small>Move each rower to one of the boats. Hit save to store the lineup. Hit done to return to practice page.</small>
<br><br>


<button class="btn btn-primary _clear">Reset</button><span> </span>
<button class="btn btn-warning _submit">Save Lineup</button><span> </span>
<a class="btn btn-primary _done" href="{% url 'row:practice_detail' practice.id %}">Done</a>
<br><br>

<div id="error" class="bg-danger" style="color:white;padding:10px;margin-bottom:20px" hidden>Error</div>
<div id="success" class="bg-success" style="color:white;padding:10px;margin-bottom:20px" hidden>Success!</div>


<div class="_row _row_holder" style="">
	<p>Athlete Bin</p>
	<ul id="sortable0" class="connectedSortable _ergs _athlete_bin">
 		{% for a in athletes %}
 			<span class="_erg _athlete" >
 				<span>{{a.name}}</span>
 				<span hidden>{{a.id}}</span> 	
 				<span hidden>{{a.role}}</span>
 				<span hidden>{{a.side}}</span>
 			</span>
  		{% endfor %}
	</ul>
</div><br>

<div class="_row">
<ul id="sortable1" class="_ergs">
	{% for b in boats %}
		<span class="_erg boat">
			<span class="boatname">{{b.name}} ({{b.seats}}{% if b.coxed %}+{% else %}-{% endif %})</span><br>
			<span class="position">
				<select class="dropdown">
				  	<option>Mixed</option>
  					<option>1V</option>
  					<option>2V</option>
  					<option>3V</option>
  					<option>4V</option>
  					<option>5V</option>
  					<option>1F</option>
  					<option>2F</option>
				</select>
				<br>
			</span>
			
			<span class="hull connectedSortable">

			</span>
			<span hidden>{{b.id}}</span>
			<span hidden>{{b.seats}}</span>
			<span hidden>{{b.coxed}}</span>
		</span>
	{% endfor %}
</ul>
</div>


{% load staticfiles %}

<script src="{% static 'row/js/jquery-ui-1.10.4.custom.min.js' %}"></script>
<script src="{% static 'row/js/lineups.js' %}"></script>



{% endblock %}