{% extends 'row/base.html' %}
{% block title %} Piece Details {% endblock %}
{% block content %}

{% if piece %}
  <h1 id='piece_name'>{{ piece.name }}</h1>
  <table class="table table-bordered">
    <tr><td>Practice</td><td><a href="{% url 'row:practice_detail' piece.practice.id %}">{{ piece.practice.name }}</a></td></tr>
    <tr><td>Date</td><td>{{ piece.datetime }}</td></tr>
  </table>
{% endif %}

{% if lineups %}
<h2>Lineups</h2>
<table class="table table-bordered">

  <tr>
    <th>Position</th>
    <th>Boat</th>
    <th>Athletes</th>
    {% if is_coach %}
      <th>Edit</th>
      <th>Delete</th>
    {% endif %}
  </tr>

  {% for lineup in lineups %}
    <tr>
      <td>{{ lineup.position }}</td>
      <td><a href="{% url 'row:boat_index' %}">{{ lineup.boat }}</a></br></td>
      <td>
        {% for athlete in lineup.athletes.all %}
          <a href="{% url 'row:athlete_detail' athlete.id %}">{{ athlete.name }}</a></br>
        {% endfor %}
      </td>
      {% if is_coach %}
        <td><a class="" href="{% url 'row:lineup_edit' lineup.id %}?next={{ request.path }}">Edit</a></td>
        <td><a class="" href="{% url 'row:lineup_delete' lineup.id %}?next={{ request.path }}">Delete</a></td>
      {% endif %}
    </tr>
  {% endfor %}
</table>
{% endif %}

 
{% if results %}
<h2>Results</h2>
  {% ifequal piece.practice.workout "Erg" %}
    <div id="_result-chart" style="width:100%; height:400px;"></div>
    <a id="_toggle-result-table" class="btn btn-sm btn-primary">View Results</a>
    <table id="_result-table" class="table table-bordered" hidden>
    <tr>
      <th>Athlete</th>
      <th>Date</th>
      <th>Pace</th>
      <th>Watts</th>
      <th>Distance</th>
      <th>Time</th>
      {% if permission %}
        <th>Edit</th>
        <th>Delete</th>
      {% endif %}
    </tr>

    {% for result in results %}
      <tr>
        <td><a class="_athlete" href="{% url 'row:athlete_detail' result.athlete.id %}"> {{ result.athlete }}</a></td>
        <td>{{ result.datetime }}</td>
        <td class="_pace"></td>
        <td class="_watts"></td>
        <td class="_distance">{{ result.distance }}</td>
        <td class="_time">{{ result.time }}</td>
        {% if permission %}
          <td><a class="" href="{% url 'row:result_edit' result.id %}?next={{ request.path }}">Edit</a></td>
          <td><a class="" href="{% url 'row:result_delete' result.id %}?next={{ request.path }}">Delete</a></td>
        {% endif %}
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <table id="_water_result-table" class="table table-bordered water">
      <tr>
        <th>Lineup</th>
        <th>Pace</th>
        <th>Watts</th>
        <th>Distance</th>
        <th>Time</th>
      </tr>
    {% for position, result in results.items %}
      <tr>
        <td>{{ position }}</td>
        <td class="_pace"></td>
        <td class="_watts"></td>
        <td class="_distance">{{ result.distance }}</td>
        <td class="_time">{{ result.time }}</td>
      </tr>
    {% endfor %}
    </table>
  {% endifequal %}
{% endif %}

{% if notes %}
  <h2>Notes</h2>
  <table class="table table-bordered">
    <tbody>
    {% for note in notes %}
      <tr class="note_head">
        <td><b class="note_subject_symbol">+</b><b> Subject</b>: {{ note.subject }}</td>
        <td><a href="{% url 'row:note_edit' note.id %}?next={{ request.path }}">Edit</a></td>
        <td><a href="{% url 'row:note_delete' note.id %}?next={{ request.path }}">Delete</a></td>
      </tr>
      <tr class="note_text" hidden><td colspan="3">{{ note.note }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <br><br>
{% endif %}

{% if permission %}
  {% if piece.practice.workout == "Water" %}
    <a class="btn btn-primary" href="{% url 'row:piece_lineup_add' piece_id=piece.id %}?next={{ request.path }}">Add Lineup</a>
  {% endif %}
{% endif %}

<a class="btn btn-primary" href="{% url 'row:piece_result_add' piece_id=piece.id %}?next={{ request.path }}">Add Result</a>

<a class="btn btn-primary" href="{% url 'row:piece_note_add' piece.id %}?next={{ request.path }}">Add Note</a>
{% endblock %}
