{% extends 'row/base.html' %}
{% block title %} Athlete Details {% endblock %}
{% block content %}

<h1>{{ athlete.name }}</h1>
{% if athlete %}
  <table class="table table-bordered">
    <tr><td>Side</td><td>{{ athlete.side }}</td></tr>
    <tr><td>Year</td><td>{{ athlete.year }}</td></tr>
    <tr><td>Height</td><td>{{ athlete.height }}</td></tr>
    <tr><td>Status</td><td>{{ athlete.status }}</td></tr>
  </table>

  {% if weights %}
  	<h2>Weight</h2>
  	<table class="table table-bordered">
      <tr>
        <th>Date</th>
        <th>Weight (lbs)</th>
      </tr>
  		{% for weight in weights %}
  			<tr>
          <td>{{ weight.datetime }}</td>
          <td>{{ weight.weight }}</td>
        </tr>
  		{% endfor %}
  	</table>
  {% endif %}
 


  {% if results %}
    <h2>Results</h2>
    <table class="table table-bordered">

      <tr>
        <th>Date</th>
        <th>Distance</th>
        <th>Time</th>
        <th>Type</th>
      </tr>

      {% for result in results %}
        <tr>
          <td>{{ result.datetime }}</td>
          <td>{{ result.distance }}</td>
          <td>{{ result.time }}</td>
          <td>{{ result.practice.workout }}</td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

    <a class="btn btn-primary" href="{% url 'row:athlete_result_add' athlete_id=athlete.id %}">Add Result</a>
    <a class="btn btn-primary" href="{% url 'row:athlete_weight_add' athlete.id %}">Add Weight</a>


{% endif %}
{% endblock %}
