{% extends 'row/base.html' %}
{% block title %} Athlete Details {% endblock %}
{% block content %}

<h1 id="athlete_name">{{ athlete.name }}</h1>
{% if athlete %}
  <table class="table table-bordered">
    <tr><td>Email</td><td>{{ athlete.user.email }}</td></tr>
    <tr><td>Role</td><td>{{ athlete.role }}</td></tr>
    {% ifequal athlete.role 'Rower' %}<tr><td>Side</td><td>{{ athlete.side }}</td></tr>{% endifequal %}
    {% ifnotequal athlete.role 'Coach' %}
      <tr><td>Year</td><td>{{ athlete.year }}</td></tr>
      <tr><td>Height</td><td class="_height">{{ athlete.height }}</td></tr>
      <tr><td>Status</td><td>{{ athlete.status }}</td></tr>
    {% endifnotequal %}
  </table>

  {% if weights %}
  	<h2>Weight</h2>
    <div id="_weight-chart" style="width:600px; height:300px;"></div>
    <a id="_toggle-weight-table" class="btn btn-sm btn-primary">View Table</a>
  	<table id="_weight-table" class="table table-bordered recordtable" hidden>
      <tr>
        <th>Date</th>
        <th>Weight (lbs)</th>
        {% if permission %}
          <th>Edit</th>
          <th>Delete</th>
        {% endif %}
      </tr>
  		{% for weight in weights %}
  			<tr>
          <td class="_weight-datetime">{{ weight.datetime }}</td>
          <td class="_weight">{{ weight.weight }}</td>
          {% if permission %}
            <td><a class="" href="{% url 'row:weight_edit' weight.id %}?next={{ request.path }}">Edit</a></td>
            <td><a class="" href="{% url 'row:weight_delete' weight.id %}?next={{ request.path }}">Delete</a></td>
          {% endif %}
        </tr>
  		{% endfor %}
  	</table>
  {% endif %}

  {% if results %}
    <h2>Results</h2>
    <table class="table table-bordered recordtable">

      <tr>
        <th>Date</th>
        <th>Practice</th>
        <th>Piece</th>
        <th>Pace</th>
        <th>Watts</th>
        <th>Distance</th>
        <th>Time</th>
        <th>Type</th>
        {% if permission %}
          <th>Edit</th>
          <th>Delete</th>
        {% endif %}
      </tr>

      {% for result in results %}
        <tr>
          <td>{{ result.datetime }}</td>
          <td><a href="{% url 'row:practice_detail' result.piece.practice.id %}">{{ result.piece.practice.name }}</a></td>
          <td><a href="{% url 'row:piece_detail' result.piece.id %}">{{ result.piece.name }}</a></td>
          <td class="_pace"></td>
          <td class="_watts"></td>
          <td class="_distance">{{ result.distance }}</td>
          <td class="_time">{{ result.time }}</td>
          <td>{{ result.piece.practice.workout }}</td>
          {% if permission %}
            <td><a class="" href="{% url 'row:result_edit' result.id %}?next={{ request.path }}">Edit</a></td>
            <td><a class="" href="{% url 'row:result_delete' result.id %}?next={{ request.path }}">Delete</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  {% if permission %}
    <br> <a class="btn btn-primary" href="{% url 'row:athlete_weight_add' athlete.id %}?next={{ request.path }}">Add Weight</a>
  {% endif %}
  {% if is_athlete %}
      <a class="btn btn-primary" href="{% url 'row:athlete_edit' athlete.id %}?next={{ request.path }}">Edit Profile</a>
  {% endif %}
{% endif %}
{% endblock %}
