{% extends 'row/base.html' %}
{% block title %} Edit Athlete {% endblock %}

{% block content %}
<h1>Edit an Athlete</h1>
<form id="athlete_form" method="post" action="athlete/">
  
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <table class="form-table"> 
        {% for field in form.visible_fields %}
            <tr>
                <td>{{ field.label }}</td>
                <td>{{ field }}</td>                 
                <td>{{ field.help_text}}</td>
                <td>{{ field.errors }}</td>
            </tr>
        {% endfor %}
    </table>

     <input type="submit" name="submit" value="Edit Athlete" />
</form>

{% endblock %}