{% extends 'row/base.html' %}

{% block content %}
{% if athletes %}
  <table>
 
  <tr>
  	<th>
  		Name
  	</th>
  	<th>
  		Year
  	</th>
  	<th>
  		Side
  	</th>
  	<th>
  		Height
  	</th>
  </tr>

  {% for a in athletes %}
    <tr>
    	<td>
    		<a href="{% url 'row:athlete_detail' a.id %}">{{ a.name }}</a>
    	</td>
    	<td>
    		{{ a.year }}
    	</td>
    	<td>
    		{{ a.side }}
    	</td>
    	<td>
    		{{ a.height }}
    	</td>
    </tr>
  {% endfor %}
 
{% else %}
  <p>No athletes are available</p>
{% endif %}
<a href="{% url 'row:athlete_add' %}">Add Athlete</a><br>
<a href="{% url 'row:weight_add' %}">Add Weight</a>
{% endblock %}
