{% extends 'row/base.html' %}

{% block content %}

<h1>Coaches</h1>
{% if coaches %}
  <table class="table table-bordered">
  
  <tr>
    <th>Name</th>    
  </tr>

  {% for a in coaches %}
    <tr>
      <td><a href="{% url 'row:athlete_detail' a.id %}">{{ a.name }}</a></td>     
    </tr>
  {% endfor %}
  </table>
 
{% else %}
  <p>No coaches are available</p>
{% endif %}

<h1>Coxswains</h1>
{% if coxswains %}
  <table class="table table-bordered">
  
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Height</th>
    <th>Status</th>    
  </tr>

  {% for a in coxswains %}
    <tr>
      <td><a href="{% url 'row:athlete_detail' a.id %}">{{ a.name }}</a></td>
      <td>{{ a.year }}</td>
      <td>{{ a.height }}</td>
      <td>{{ a.status }}</td>     
    </tr>
  {% endfor %}
  </table>
 
{% else %}
  <p>No coxswains are available</p>
{% endif %}

<h1>Rowers</h1>
{% if rowers %}
  <table class="table table-bordered">
  
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Side</th>
    <th>Height</th>
    <th>Status</th>    
  </tr>

  {% for a in rowers %}
    <tr>
      <td><a href="{% url 'row:athlete_detail' a.id %}">{{ a.name }}</a></td>
      <td>{{ a.year }}</td>
      <td>{{ a.side }}</td>
      <td>{{ a.height }}</td>
      <td>{{ a.status }}</td>     
    </tr>
  {% endfor %}
  </table>
 
{% else %}
  <p>No rowers are available</p>
{% endif %}

{% if permission %}
  <a class="btn btn-primary" href="{% url 'row:weight_add' %}">Add Weight</a>
  <a class="btn btn-primary" href="{% url 'row:result_add' %}">Add Result</a>
{% endif %}

{% endblock %}
