{% extends 'row/base.html' %}
{% block content %}

<h1>Boats</h1>
{% if boats %}
	<table class="table table-bordered">  
		<tr>
	  		<th>Name</th>
	  		<th>Seats</th>
	  		<th>Coxed</th>
	  		<th>Edit</th>
	  		<th>Delete</th>
		</tr>

		{% for b in boats %}
			<tr>
				<td>{{ b.name }}</td>
				<td>{{ b.seats }}</td>
				{% if b.coxed %}
					<td>Yes</td>
				{% else %}
					<td>No</td>
				{% endif %}
				<td><a class="" href="{% url 'row:boat_edit' b.id %}">Edit</a></td>
				<td><a class="" href="{% url 'row:boat_delete' b.id %}">Delete</a></td>
			</tr>
		{% endfor %}
  	</table>
 
{% else %}
  <p>No boats are available</p>
{% endif %}

{% if permission %}
	<a class="btn btn-primary " href="{% url 'row:boat_add' %}">Add Boat</a>
{% endif %}

{% endblock %}