._erg {
  background-color:#cccccc;
  float:none;
  margin:5px;
  padding:5px;
  display: inline-block;


}

._ergs {
  background-color:#ffffff;
  float:none;
  padding:20px;
}


._row {
  background-color:#dddddd;
  float:none;
  height:auto;
  padding:20px;
}

._row_holder {
  background-color:#FFCD3C;
  float:none;
  height:auto;
  padding:20px;
}

._erg_error {
  background-color:#FFC4C1;
}

._erg_valid {
  background-color:LightGreen;
}

#distance_box {
  padding:10px;
}

