._erg {
  background-color:#cccccc;
  color:black;
  float:none;
  margin:5px;
  padding:5px;
  display: inline-block;


}

._ergs {
  background-color:#ffffff;
  float:none;
  padding:20px;
}


._row {
  background-color:#dddddd;
  float:none;
  height:auto;
  padding:20px;
}

._row_holder {
  background-color:#222222;
  color:white;
  float:none;
  height:auto;
  padding:20px;
}

._erg_error {
  background-color:#FFC4C1;
}

._erg_valid {
  background-color:LightGreen;
}

.hull > ._erg {
  background-color:#cccccc;
  float:none;
  margin:5px;
  padding:5px;
  display: block;

}

.hull {
  background-color:#ffffff;
  float:left;
  padding:10px;
  width:100%;
}

._boats {
  background-color:#ffffff;
  float:left;
  padding:20px;
}

._col {
  background-color:#dddddd;
  float:left;
  height:auto;
  padding:20px;
}


._col_holder {
  background-color:#FFCD3C;
  float:none;
  height:auto;
  width:200px;
  padding:20px;
}

._athlete{
  cursor: move;
}


#distance_box {
  padding:10px;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.dropdown p {
  display: inline-block;
  font-weight: bold;
}

.navbar-stacked > li {
  margin-bottom:10px;
}

select {

      border: 0 ;  /*Removes border*/
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      background: url('http://jonathanphz.tk/dropdown_arrow.png') no-repeat;  /*Adds background-image*/
      background-position: 185px 10px;  /*Position of the background-image*/
      width: 100px; /*Width of select dropdown to give space for arrow image*/
      height: 20px;/*fix for mac input height*/
      text-indent: 0.01px; /* Removes default arrow from firefox*/
      text-overflow: "";  /*Removes default arrow from firefox*/
      cursor: pointer;
      /*My custom style for fonts*/

      color: #1455a2;
      width:200px;
      border: 1px solid #ddd;
      border-color: #66aaFF;
      padding:5px;
      height:30px;
  
}
select option {
  text-align: center;
}

.dropdown {
  padding:0px;
  height:20px;
  border:0px;
  background-position: 80px 8px;
  width: 100px; 
}

input, textarea {
  outline: none;
  padding: 5px;
  padding-left:15px;
  border: 1px solid #ddd;
  border-color: #66aaFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

input[type="text"]:focus , textarea:focus {
  border-color: blue;

}


td {
  display:table-cell; 
  vertical-align:middle !important;
}


table a:link {
  font-weight: bold;
  text-decoration:none;
}
table a:visited {
  font-weight:bold;
  text-decoration:none;
}
table a:active,
table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
table {
  font-size:14px;
  background:#eaebec;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
table th {
  padding:21px 25px 22px 25px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

table tr {
  padding-left:20px;
}

table td {
  padding:18px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table.recordtable tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}
.alert-danger{
  background:red;
  color:white;
}
ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}

.btn {
box-shadow: 1px 1px 5px #888888;
}

.btn-default:hover {
  background:#000000 !important;
}
